<!-- header -->
<%- include('include/_header') %>
<!-- header -->

  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/home"><i class="fas fa-angle-double-left"></i> Tất Cả Chuyến Xe</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Tạo Chuyến Xe</h2>
            <span class="text-light">Điền đầy đủ thông tin vào form bên dưới</span>
        </div>

        <!-- Form tạo chuyên xe -->
        <%- include('include/_form') %>
        <!-- Form tạo chuyên xe -->
        
    </div>
</main>

<!-- footer -->
<%- include('include/_footer') %>
<!-- footer -->
