<!-- form -->
 <form action="/api/trips" method="POST" id="add_trip">
    <div class="new_trip">
        <div class="form-group">
            <label for="Noi_xuat_phat" class="text-light">Nơi xuất phát</label>
            <input type="text" name="noi_xuat_phat" value="">
        </div>
        <div class="form-group">
            <label for="Ngay_xuat_phat" class="text-light">Ngày xuất phát</label>
            <input type="text" name="ngay_xuat_phat" value="">
        </div>
        <div class="form-group">
            <label for="Gio_xuat_phat" class="text-light">Giờ xuất phát</label>
            <input type="text" name="gio_xuat_phat" value="">
        </div>
        <div class="form-group">
            <label for="Noi_den" class="text-light">Nơi đến</label>
            <input type="text" name="noi_den" value="">
        </div>
        <div class="form-group">
            <label for="Ngay_den" class="text-light">Ngày đến</label>
            <input type="text" name="ngay_den" value="">
        </div>
        <div class="form-group">
            <label for="Gio_den" class="text-light">Giờ đến</label>
            <input type="text" name="gio_den" value="">
        </div>
        <div class="form-group">
            <label for="Tong_so_cho" class="text-light">Tổng số chỗ</label>
            <input type="text" name="tong_so_cho" value="">
        </div>
        <div class="form-group">
            <label for="So_cho_trong" class="text-light">Số chỗ trống</label>
            <input type="text" name="so_cho_trong" value="">
        </div>
        <div class="form-group">
            <label for="Sdt_lien_he" class="text-light">SDT liên hệ</label>
            <input type="text" name="sdt_lien_he" value="">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>